# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# ------------------------------------
# A. テスト/カバレッジレポート
# ------------------------------------
# Jest, Cypressなどのテストカバレッジレポート
coverage/

# ------------------------------------
# B. エディタ・IDE関連
# ------------------------------------
# Windows OSが生成するサムネイルキャッシュ
Thumbs.db
# JetBrains系IDE (IntelliJ, Android Studioなど) の設定ファイル
.idea/
# VS Codeの設定ディレクトリ（プロジェクト全体で共有しない場合）
# .vscode/

# ------------------------------------
# C. 一時ファイル・ログ
# ------------------------------------
# 一般的な一時ファイル
*.tmp
*~

# ログファイル全般
*.log